<app-navbar></app-navbar>

<div class="container">
  <div class="m-auto text-center">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <h4>Reset Password</h4>
      <h6 class="mb-4"> Please set your new password</h6>
      <div class="row justify-content-center">
        <div class="col-6 mb-5">
          <label class="form-label" for="password"></label>
          <input class="form-control" type="password" id="password" placeholder="Pick a your password" required formControlName="newPassword"/>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 mb-5">
          <label class="form-label" for="confirmPassword"></label>
          <input class="form-control" type="password" id="confirmPassword" placeholder="Confirm new password" required formControlName="confirmPassword"/>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mb-5">Reset Password</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
@if(isLoading){
  <div class="loading-overlay">
    <div class="spinner-grow text-primary">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
