<app-navbar></app-navbar>

<div class="container">
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">My booking</li>
    </ol>
  </div>

  <h4>My Bookings</h4>
  <div class="col-12 p-5 border d-flex">
    <div class="col-6">
      <img src="assets/banner/banner2.jpg">
    </div>
    <div class="col-6 d-flex ">
     <div class="col8">
       <h2 class="text-lg font-semibold">Nissan Navara El 2017</h2>
       <p class="text-muted-foreground">From: 10/03/2022 - 12:00 PM</p>
       <p class="text-muted-foreground">To: 23/12/2022 - 14:00 PM</p>
       <p class="text-muted-foreground">Number of days: <span class="font-semibold">X</span></p>
       <p class="text-muted-foreground">Base price: <span class="font-semibold">X</span></p>
       <p class="text-muted-foreground">Total: <span class="font-semibold">X</span></p>
       <p class="text-muted-foreground">Deposit: <span class="font-semibold">X</span></p>
       <p class="text-muted-foreground">Booking No.: <span class="font-semibold">0123456</span></p>
       <p class="text-muted-foreground">Booking status: <span class="text-blue-500">Pending deposit</span></p>
     </div>
      <div class="col-4 ">
        <button class="btn btn-primary mb-2">View details
        </button>
        <button class="btn btn-light">Cancel
          booking
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 p-5 border d-flex">
    <div class="col-6">
      <img src="assets/banner/banner2.jpg">
    </div>
    <div class="col-6 d-flex ">
      <div class="col8">
        <h2 class="text-lg font-semibold">Nissan Navara El 2017</h2>
        <p class="text-muted-foreground">From: 10/03/2022 - 12:00 PM</p>
        <p class="text-muted-foreground">To: 23/12/2022 - 14:00 PM</p>
        <p class="text-muted-foreground">Number of days: <span class="font-semibold">X</span></p>
        <p class="text-muted-foreground">Base price: <span class="font-semibold">X</span></p>
        <p class="text-muted-foreground">Total: <span class="font-semibold">X</span></p>
        <p class="text-muted-foreground">Deposit: <span class="font-semibold">X</span></p>
        <p class="text-muted-foreground">Booking No.: <span class="font-semibold">0123456</span></p>
        <p class="text-muted-foreground">Booking status: <span class="text-blue-500">Pending deposit</span></p>
      </div>
      <div class="col-4 ">
        <button class="btn btn-primary mb-2">View details
        </button>
        <button class="btn btn-light">Cancel
          booking
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 p-5 border d-flex">
    <div class="col-6">
      <img src="assets/banner/banner2.jpg">
    </div>
    <div class="col-6 d-flex ">
      <div class="col8">
        <h2 class="text-lg font-semibold">Nissan Navara El 2017</h2>
        <p class="text-muted-foreground">From: 10/03/2022 - 12:00 PM</p>
        <p class="text-muted-foreground">To: 23/12/2022 - 14:00 PM</p>
        <p class="text-muted-foreground">Number of days: <span class="font-semibold">X</span></p>
        <p class="text-muted-foreground">Base price: <span class="font-semibold">X</span></p>
        <p class="text-muted-foreground">Total: <span class="font-semibold">X</span></p>
        <p class="text-muted-foreground">Deposit: <span class="font-semibold">X</span></p>
        <p class="text-muted-foreground">Booking No.: <span class="font-semibold">0123456</span></p>
        <p class="text-muted-foreground">Booking status: <span class="text-blue-500">Pending deposit</span></p>
      </div>
      <div class="col-4 ">
        <button class="btn btn-primary mb-2">View details
        </button>
        <button class="btn btn-light">Cancel
          booking
        </button>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>


