<div class="container mt-5">
  <h1 class="text-start">Why Us?</h1>

  <div class="row mb-5">
    <div class="col-3">
      <div class="card">
        <img class="iconImg" aria-hidden="true" alt="Save money" src="https://openui.fly.dev/openui/24x24.svg?text=💰" />
        <h3 class="text-lg-center text-lg font-semibold mt-2">Save money</h3>
        <p class="text-muted-foreground">We have no setup or registration fees. You are only charged when you rent a car. So get started for FREE!</p>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="iconImg" aria-hidden="true" alt="Convenient" src="https://openui.fly.dev/openui/24x24.svg?text=🧳" />
        <h3 class="text-lg-center text-lg font-semibold mt-2">Convenient</h3>
        <p class="text-muted-foreground">We have a large selection of privately owned cars to suit your needs throughout the country.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="iconImg" aria-hidden="true" alt="Legal and insurance" src="https://openui.fly.dev/openui/24x24.svg?text=⚖️" />
        <h3 class="text-lg-center text-lg font-semibold mt-2">Legal and insurance</h3>
        <p class="text-muted-foreground">We fully cover all rentals and even provide roadside assistance. Our rating system and extended member profile checks provide safety.</p>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="iconImg" aria-hidden="true" alt="24/7 support" src="https://openui.fly.dev/openui/24x24.svg?text=📞" />
        <h3 class="text-lg-center text-lg font-semibold mt-2">24/7 support</h3>
        <p class="text-muted-foreground">Our team is ready to support you all along the way with our 24/7 hotline and services.</p>
      </div>
    </div>
  </div>

  <h1 class="text-start mb-5">What People Say?</h1>
  <div class="row">
    <div class="col-md-6 mb-5">
      <div class="testimonial-card d-flex align-items-sm-start">
        <img src="assets/avata/girl.jpg" style="width:80px ;" alt="Alice Johnson" class="testimonial-image me-2 rounded-circle">
        <div class="testimonial-content">
          <div class="testimonial-name"><h6>Alice Son</h6></div>
          <p class="testimonial-text">Affordable prices and a wide selection of cars. I will definitely use their service again!</p>
          <p><strong>Ratings:</strong> ⭐⭐⭐⭐⭐</p>
          <p><strong>Date and Time:</strong> 2024-07-20 10:30</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="testimonial-card d-flex align-items-sm-start">
        <img src="assets/avata/men5.avif" style="width:80px ;" alt="Alice Johnson" class="testimonial-image me-2 rounded-circle ">
        <div class="testimonial-content">
          <div class="testimonial-name"><h6>Jame Quang</h6></div>
          <p class="testimonial-text">We had a rental car in Mauritius for 1 week. Perfect service, hotel delivery (Intercontinental Hotel) and pick-up, everything went perfectly. Good instructions for the rental car and helpful tips for the island. I would rent a car again at any time. Greets to the friendly staff.</p>
          <p><strong>Ratings:</strong> ⭐⭐⭐⭐⭐</p>
          <p><strong>Date and Time:</strong> 2024-07-25 14:30</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="testimonial-card d-flex align-items-sm-start">
        <img src="assets/avata/men3.avif" style="width:80px ;" alt="Alice Johnson" class="testimonial-image me-2 rounded-circle">
        <div class="testimonial-content">
          <div class="testimonial-name"><h6>Alex Truong</h6></div>
          <p class="testimonial-text">We rented a small car for 3 days. Everything worked out wonderfully. The car was brought to us at the hotel. Handover was super punctual, everything was explained properly. Telephone number exchanged so that we can be contacted straight away if there are any problems. So we were very satisfied!</p>
          <p><strong>Ratings:</strong> ⭐⭐⭐⭐⭐</p>
          <p><strong>Date and Time:</strong> 2024-007-28 16:30</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-5">
      <div class="testimonial-card d-flex align-items-sm-start">
        <img src="assets/avata/gir5.avif" style="width:80px ;" alt="Alice Johnson" class="testimonial-image me-2 rounded-circle">
        <div class="testimonial-content">
          <div class="testimonial-name"><h6>Alice Oanh</h6></div>
          <p class="testimonial-text">Professional and very helpful car rental. Fantastic airport car delivery and collection service. Well maintained car. Highly recommended!</p>
          <p><strong>Ratings:</strong> ⭐⭐⭐⭐⭐</p>
          <p><strong>Date and Time:</strong> 2024-07-26 18:30</p>
        </div>
      </div>
    </div>
  </div>

  <h2>Where to Find Us</h2>
  <div class="row">
    <div class="col-4 mb-4">
      <div class="location-card position-relative ">
        <img class="locationImg  object-cover rounded-5" src="assets/location/hcm.jpg"  alt="TP. Hồ Chí Minh" />
        <div class="card-body p-3 position-absolute bottom-0 start-0 end-0">
          <h3 class="card-title text-lg fw-bold text-white">TP. Hồ Chí Minh</h3>
          <p class="card-text text-white">3200+ xe</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-4">
      <div class="location-card position-relative">
        <img class="locationImg object-cover rounded-5" src="assets/location/hanoi.jpg" alt="TP. Hà Nội" />
        <div class="card-body p-3 position-absolute bottom-0 start-0 end-0">
          <h3 class="card-title text-lg fw-bold text-white ">Hà Nội</h3>
          <p class="card-text text-white">1400+ xe</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-4">
      <div class="location-card position-relative">
        <img class="locationImg w-full h-40 object-cover rounded-5" src="assets/location/danang.jpg" alt="TP. Đà Nẵng" />
        <div class="card-body p-3 position-absolute bottom-0 start-0 end-0">
          <h3 class="card-title text-lg fw-bold text-white">Đà Nẵng</h3>
          <p class="card-text text-white">1020+ xe</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-4">
      <div class="location-card position-relative">
        <img class=" locationImg object-cover rounded-5" src="assets/location/thaibinh.jpg" alt="TP. Thái Bình" />
        <div class="card-body p-3 position-absolute bottom-0 start-0 end-0">
          <h3 class="card-title text-lg fw-bold text-white">Thái Bình</h3>
          <p class="card-text text-white">320+ xe</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-4">
      <div class="location-card position-relative">
        <img class=" locationImg w-full h-40 object-fit rounded-5" src="assets/location/namdinh.jpg" alt="Nam Định" />
        <div class="card-body p-3 position-absolute bottom-0 start-0 end-0">
          <h3 class="card-title text-lg fw-bold text-white">Nam Định</h3>
          <p class="card-text text-white ">320+ xe</p>
        </div>
      </div>
    </div>
    <div class="col-4 mb-5">
      <div class="location-card position-relative">
        <img class=" locationImg w-full h-40 object-cover rounded-5" src="assets/location/phutho.png" alt="TP. Hồ Chí Minh" />
        <div class="card-body p-3 position-absolute bottom-0 start-0 end-0">
          <h3 class="card-title text-lg fw-bold text-white">Phú Thọ</h3>
          <p class="card-text text-white">320+ xe</p>
        </div>
      </div>
    </div>
  </div>
</div>

