<app-navbar></app-navbar>
<div class="container-fluid">
  <form class="form-control border rounded" [formGroup]="sendForm" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-center m-4">
      <i class="fa-solid fa-lock lock-icon "></i>
    </div>
    <div class="text-center">
      <h6>Trouble logging in?</h6>
    </div>
    <div class="m-3">
      <p class="text-secondary mb-4">Enter your email, phone, or username and we'll send you a link to get back into your account.</p>
      <input type="email" placeholder="Email, Phone, or Username" class="form-control mb-3" formControlName="email"/>
      <button class="btn btn-primary w-100 mb-2">Send reset link</button>
      <p class="text-center text-muted mb-2">Can’t reset your password?</p>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <hr class="w-25" />
        <span class="mx-2 text-muted">OR</span>
        <hr class="w-25" />
      </div>
      <a routerLink="/account/signup" ><button class="btn btn-link text-primary mb-2 w-100">Create new account</button></a>
      <a routerLink = "/account/login" class="text-muted d-block text-center">Back to login</a>
    </div>
  </form>
</div>


