.container-fluid{
  margin-top: 150px;
}
form{
  width: 400px;
  margin: auto;
}
.lock-icon {
  font-size: 50px;
  border: 1px solid #000; /* Adjust the border color as needed */
  border-radius: 50%; /* Makes the icon rounded */
  padding: 1rem; /* Adjust the padding as needed */
}

