<app-navbar></app-navbar>


<div class="container">
  <a class="text-decoration-none" routerLink="/">Home</a> <a class="text-decoration-none" routerLink="/account/change-profile"> >> Change Profile</a>
  <h3>My Profile</h3>
  <div class="border-bottom border-border mb-4">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active text-primary" routerLink="/account/change-profile">Personal Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted" routerLink="/account/change-password">Security</a>
      </li>
    </ul>
  </div>

  <h3>Change Password</h3>
  <form>
    <div class="row">
      <div class="col-6 mb-5">
        <div class="form-group">
          <label for="currentPassword">New Password</label>
          <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-5">
        <div class="form-group">
          <label for="newPassword">Confirm New Password</label>
          <input type="password" class="form-control" id="newPassword" name="newPassword" required>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mb-5">
      <button type="button" class="btn btn-light mx-3 px-4">Discard</button>
      <button type="button" class="btn btn-primary mx-3 px-4">Save</button>
    </div>

  </form>
</div>
<app-footer></app-footer>
